*.rdb
*.pyc
downstream/cnv/validation/data/
add_on_target/rhemac.lifted_over.human.vchrome.targets.bed.gz
pipelines/lift_over_genes/bin/liftOver
downstream/cnv/data/
data/merged.wes.500k.vcf.gz
dist_var_allele_ratios/
more_than_one_variant/more.wes.vcf.gz
more_than_one_variant/more.wes.vcf.gz.png
more_than_one_variant/more.wgs.vcf.gz
more_than_one_variant/more.wgs.vcf.gz.png
drio.py/*.pyc
coveragepy
downstream/diff_allele_freq/std.dist.png
downstream/diff_allele_freq/std_var_ratio_groups.csv
downstream/vcf_basics/100k.vcf.gz
tests/test_drdvcf.pyc
.coverage
htmlcov/
thunderbold.vim
downstream/.DS_Store
downstream/heatmap-group-snps/heat-mhc-groupping.png
downstream/heatmap-group-snps/heat-pc-groupping.png
downstream/heatmap-group-snps/test_data/cynos.csv
downstream/heatmap-group-snps/test_data/gabe.vcf
downstream/heatmap-group-snps/test_data/high_moderate.interesting_0.2_min4.vcf
downstream/heatmap-group-snps/test_data/interesting_0.45_min4.vcf
downstream/heatmap-group-snps/test_data/mhc_haplotype.tsv
downstream/human-array-validation/test_data/
build/
downstream/cnv/one.png
downstream/cnv/test_data/
downstream/cnv/two.png
downstream/heatmap-group-snps/heat.png
downstream/minor_allele_freqs/out.tsv
downstream/saturation_snps/data/
downstream/saturation_snps/pngs/
tests/test_cnv.pyc
tests/test_sam.pyc
pipelines/cnv/chrm_info.bed
pipelines/cnv/data/*.fa
pipelines/cnv/data/*.fa.index
pipelines/cnv/data/*.fa.fai
pipelines/cnv/data/small_rhesus/*.fa.fai
pipelines/cnv/data/small_rhesus/*.fa
pipelines/cnv/data/small_rhesus/*.fa.index
pipelines/cnv/mrsfast/*
pipelines/cnv/mrsfast/sample_genome/*
pipelines/cnv/mrsfast/sample_genome_two/*
pipelines/cnv/data/small_rhesus/small.rhemac2.*



